{
  "openapi": "3.0.0",
  "info": {
    "title": "Postmark Service API",
    "description": "Email sending and tracking service built on Postmark. Handles email delivery via the broadcast message stream, webhook processing for delivery events, and integrates with a runs-service for cost tracking.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://postmark.mcpfactory.org",
      "description": "Production"
    },
    {
      "url": "http://localhost:3010",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Health check endpoints"
    },
    {
      "name": "Email Sending",
      "description": "Send emails via Postmark"
    },
    {
      "name": "Email Status",
      "description": "Query email delivery status"
    },
    {
      "name": "Webhooks",
      "description": "Postmark webhook handlers"
    },
    {
      "name": "Performance",
      "description": "Workflow performance metrics"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Service-to-service API key"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "service": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "service"
        ]
      },
      "SendEmailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "messageId": {
            "type": "string"
          },
          "submittedAt": {
            "type": "string",
            "format": "date-time"
          },
          "sendingId": {
            "type": "string"
          },
          "errorCode": {
            "type": "number"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "success"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "details": {
            "type": "string"
          },
          "required": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "InsufficientCreditsResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "enum": [
              "Insufficient credits"
            ]
          },
          "balance_cents": {
            "type": "number",
            "nullable": true
          },
          "required_cents": {
            "type": "number"
          }
        },
        "required": [
          "error",
          "balance_cents",
          "required_cents"
        ]
      },
      "SendEmailRequest": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Campaign ID"
          },
          "featureSlug": {
            "type": "string",
            "description": "Feature slug for tracking"
          },
          "workflowSlug": {
            "type": "string",
            "description": "Workflow slug for tracking/grouping"
          },
          "audienceId": {
            "type": "string",
            "description": "Audience ID for cost attribution. Header x-audience-id takes precedence."
          },
          "leadId": {
            "type": "string",
            "description": "Lead ID for tracking and dedup"
          },
          "from": {
            "type": "string",
            "description": "Sender email address. If omitted, resolved from key-service (provider: postmark-from-address)."
          },
          "to": {
            "type": "string",
            "description": "Recipient email address"
          },
          "subject": {
            "type": "string",
            "description": "Email subject line"
          },
          "htmlBody": {
            "type": "string",
            "description": "HTML email body"
          },
          "textBody": {
            "type": "string",
            "description": "Plain text email body"
          },
          "cc": {
            "type": "string"
          },
          "bcc": {
            "type": "string"
          },
          "replyTo": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          },
          "headers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "name",
                "value"
              ]
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "trackOpens": {
            "type": "boolean",
            "default": true
          },
          "trackLinks": {
            "type": "string",
            "enum": [
              "None",
              "HtmlAndText",
              "HtmlOnly",
              "TextOnly"
            ]
          }
        },
        "required": [
          "to",
          "subject"
        ]
      },
      "BatchSendResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number"
          },
          "successCount": {
            "type": "number"
          },
          "failCount": {
            "type": "number"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "to": {
                  "type": "string"
                },
                "success": {
                  "type": "boolean"
                },
                "messageId": {
                  "type": "string"
                },
                "sendingId": {
                  "type": "string"
                },
                "errorCode": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                },
                "error": {
                  "type": "string"
                }
              },
              "required": [
                "to",
                "success"
              ]
            }
          }
        },
        "required": [
          "total",
          "successCount",
          "failCount",
          "results"
        ]
      },
      "BatchSendRequest": {
        "type": "object",
        "properties": {
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "campaignId": {
                  "type": "string"
                },
                "featureSlug": {
                  "type": "string"
                },
                "workflowSlug": {
                  "type": "string"
                },
                "audienceId": {
                  "type": "string"
                },
                "leadId": {
                  "type": "string"
                },
                "from": {
                  "type": "string"
                },
                "to": {
                  "type": "string"
                },
                "subject": {
                  "type": "string"
                },
                "htmlBody": {
                  "type": "string"
                },
                "textBody": {
                  "type": "string"
                },
                "cc": {
                  "type": "string"
                },
                "bcc": {
                  "type": "string"
                },
                "replyTo": {
                  "type": "string"
                },
                "tag": {
                  "type": "string"
                },
                "headers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name",
                      "value"
                    ]
                  }
                },
                "metadata": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "trackOpens": {
                  "type": "boolean",
                  "default": true
                },
                "trackLinks": {
                  "type": "string",
                  "enum": [
                    "None",
                    "HtmlAndText",
                    "HtmlOnly",
                    "TextOnly"
                  ]
                }
              },
              "required": [
                "to",
                "subject"
              ]
            },
            "minItems": 1,
            "maxItems": 500
          }
        },
        "required": [
          "emails"
        ]
      },
      "EmailStatus": {
        "type": "object",
        "properties": {
          "messageId": {
            "type": "string"
          },
          "sending": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "to": {
                "type": "string"
              },
              "from": {
                "type": "string"
              },
              "subject": {
                "type": "string"
              },
              "submittedAt": {
                "type": "string",
                "nullable": true,
                "format": "date-time"
              },
              "orgId": {
                "type": "string",
                "nullable": true
              },
              "runId": {
                "type": "string",
                "nullable": true
              }
            },
            "required": [
              "id",
              "to",
              "from",
              "subject",
              "submittedAt",
              "orgId",
              "runId"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/MessageStatus"
          }
        },
        "required": [
          "messageId",
          "sending",
          "status"
        ]
      },
      "MessageStatus": {
        "type": "object",
        "properties": {
          "contacted": {
            "type": "boolean",
            "description": "A sending exists for this message"
          },
          "sent": {
            "type": "boolean",
            "description": "Sending accepted by Postmark (errorCode=0), or implied by downstream events"
          },
          "delivered": {
            "type": "boolean",
            "description": "Delivery webhook received, or implied by open/click. False if bounced"
          },
          "opened": {
            "type": "boolean",
            "description": "Open webhook received, or implied by click"
          },
          "clicked": {
            "type": "boolean",
            "description": "Click webhook received (never implied)"
          },
          "replied": {
            "type": "boolean",
            "description": "Always false — Postmark has no reply tracking"
          },
          "replyClassification": {
            "type": "string",
            "nullable": true,
            "description": "Always null — Postmark has no reply tracking"
          },
          "bounced": {
            "type": "boolean",
            "description": "Bounce webhook received"
          },
          "unsubscribed": {
            "type": "boolean",
            "description": "SubscriptionChange with suppress_sending=true"
          },
          "lastDeliveredAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "ISO timestamp of delivery"
          }
        },
        "required": [
          "contacted",
          "sent",
          "delivered",
          "opened",
          "clicked",
          "replied",
          "replyClassification",
          "bounced",
          "unsubscribed",
          "lastDeliveredAt"
        ]
      },
      "OrgEmailsResponse": {
        "type": "object",
        "properties": {
          "orgId": {
            "type": "string"
          },
          "count": {
            "type": "number"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "nullable": true
                },
                "to": {
                  "type": "string"
                },
                "subject": {
                  "type": "string"
                },
                "submittedAt": {
                  "type": "string",
                  "nullable": true
                },
                "status": {
                  "$ref": "#/components/schemas/MessageStatus"
                }
              },
              "required": [
                "messageId",
                "to",
                "subject",
                "submittedAt",
                "status"
              ]
            }
          }
        },
        "required": [
          "orgId",
          "count",
          "emails"
        ]
      },
      "RunEmailsResponse": {
        "type": "object",
        "properties": {
          "runId": {
            "type": "string"
          },
          "total": {
            "type": "number"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "nullable": true
                },
                "to": {
                  "type": "string"
                },
                "subject": {
                  "type": "string"
                },
                "submittedAt": {
                  "type": "string",
                  "nullable": true
                },
                "status": {
                  "$ref": "#/components/schemas/MessageStatus"
                }
              },
              "required": [
                "messageId",
                "to",
                "subject",
                "submittedAt",
                "status"
              ]
            }
          }
        },
        "required": [
          "runId",
          "total",
          "emails"
        ]
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address that was looked up"
                },
                "byCampaign": {
                  "type": "object",
                  "nullable": true,
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "contacted": {
                        "type": "boolean",
                        "description": "Whether at least one sending exists in this scope"
                      },
                      "sent": {
                        "type": "boolean",
                        "description": "Whether an email was sent in this scope"
                      },
                      "delivered": {
                        "type": "boolean",
                        "description": "Whether an email was delivered in this scope (sent AND not bounced)"
                      },
                      "opened": {
                        "type": "boolean",
                        "description": "Whether the recipient opened any email in this scope"
                      },
                      "clicked": {
                        "type": "boolean",
                        "description": "Whether the recipient clicked any link in this scope"
                      },
                      "replied": {
                        "type": "boolean",
                        "description": "Whether the recipient replied in this scope (always false for postmark — no reply tracking)"
                      },
                      "replyClassification": {
                        "type": "string",
                        "nullable": true,
                        "enum": [
                          "positive",
                          "negative",
                          "neutral",
                          null
                        ],
                        "description": "Classification of most recent reply: positive / negative / neutral, or null if no reply (always null for postmark)"
                      },
                      "bounced": {
                        "type": "boolean",
                        "description": "Whether an email bounced in this scope"
                      },
                      "unsubscribed": {
                        "type": "boolean",
                        "description": "Whether the recipient unsubscribed in this scope"
                      },
                      "cancelled": {
                        "type": "boolean",
                        "description": "Whether the campaign was cancelled by the retry-stuck job. Optional in contract v1; required in v2 after postmark padding ships."
                      },
                      "lastDeliveredAt": {
                        "type": "string",
                        "nullable": true,
                        "description": "ISO 8601 timestamp of last delivery in this scope; null if none"
                      },
                      "firstContactedAt": {
                        "type": "string",
                        "nullable": true,
                        "description": "First-occurrence (MIN) ISO 8601 timestamp of a contacted event in this scope; null if it never happened in scope"
                      },
                      "firstSentAt": {
                        "type": "string",
                        "nullable": true,
                        "description": "First-occurrence (MIN) ISO 8601 timestamp of a sent event in this scope; null if it never happened in scope"
                      },
                      "firstDeliveredAt": {
                        "type": "string",
                        "nullable": true,
                        "description": "First-occurrence (MIN) ISO 8601 timestamp of a delivered event in this scope; null if it never happened in scope"
                      },
                      "firstOpenedAt": {
                        "type": "string",
                        "nullable": true,
                        "description": "First-occurrence (MIN) ISO 8601 timestamp of an opened event in this scope; null if it never happened in scope"
                      },
                      "firstClickedAt": {
                        "type": "string",
                        "nullable": true,
                        "description": "First-occurrence (MIN) ISO 8601 timestamp of a clicked event in this scope; null if it never happened in scope"
                      },
                      "firstRepliedAt": {
                        "type": "string",
                        "nullable": true,
                        "description": "First-occurrence (MIN) ISO 8601 timestamp of a replied event in this scope; null if it never happened in scope (always null for postmark — no reply tracking)"
                      },
                      "firstBouncedAt": {
                        "type": "string",
                        "nullable": true,
                        "description": "First-occurrence (MIN) ISO 8601 timestamp of a bounced event in this scope; null if it never happened in scope"
                      },
                      "firstUnsubscribedAt": {
                        "type": "string",
                        "nullable": true,
                        "description": "First-occurrence (MIN) ISO 8601 timestamp of an unsubscribed event in this scope; null if it never happened in scope"
                      }
                    },
                    "required": [
                      "contacted",
                      "sent",
                      "delivered",
                      "opened",
                      "clicked",
                      "replied",
                      "replyClassification",
                      "bounced",
                      "unsubscribed",
                      "lastDeliveredAt"
                    ]
                  },
                  "description": "Per-campaign breakdown (brand mode only). Keys are campaign UUIDs, values are scoped status. Null in campaign and global modes."
                },
                "brand": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "contacted": {
                      "type": "boolean",
                      "description": "Whether at least one sending exists in this scope"
                    },
                    "sent": {
                      "type": "boolean",
                      "description": "Whether an email was sent in this scope"
                    },
                    "delivered": {
                      "type": "boolean",
                      "description": "Whether an email was delivered in this scope (sent AND not bounced)"
                    },
                    "opened": {
                      "type": "boolean",
                      "description": "Whether the recipient opened any email in this scope"
                    },
                    "clicked": {
                      "type": "boolean",
                      "description": "Whether the recipient clicked any link in this scope"
                    },
                    "replied": {
                      "type": "boolean",
                      "description": "Whether the recipient replied in this scope (always false for postmark — no reply tracking)"
                    },
                    "replyClassification": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        "positive",
                        "negative",
                        "neutral",
                        null
                      ],
                      "description": "Classification of most recent reply: positive / negative / neutral, or null if no reply (always null for postmark)"
                    },
                    "bounced": {
                      "type": "boolean",
                      "description": "Whether an email bounced in this scope"
                    },
                    "unsubscribed": {
                      "type": "boolean",
                      "description": "Whether the recipient unsubscribed in this scope"
                    },
                    "cancelled": {
                      "type": "boolean",
                      "description": "Whether the campaign was cancelled by the retry-stuck job. Optional in contract v1; required in v2 after postmark padding ships."
                    },
                    "lastDeliveredAt": {
                      "type": "string",
                      "nullable": true,
                      "description": "ISO 8601 timestamp of last delivery in this scope; null if none"
                    },
                    "firstContactedAt": {
                      "type": "string",
                      "nullable": true,
                      "description": "First-occurrence (MIN) ISO 8601 timestamp of a contacted event in this scope; null if it never happened in scope"
                    },
                    "firstSentAt": {
                      "type": "string",
                      "nullable": true,
                      "description": "First-occurrence (MIN) ISO 8601 timestamp of a sent event in this scope; null if it never happened in scope"
                    },
                    "firstDeliveredAt": {
                      "type": "string",
                      "nullable": true,
                      "description": "First-occurrence (MIN) ISO 8601 timestamp of a delivered event in this scope; null if it never happened in scope"
                    },
                    "firstOpenedAt": {
                      "type": "string",
                      "nullable": true,
                      "description": "First-occurrence (MIN) ISO 8601 timestamp of an opened event in this scope; null if it never happened in scope"
                    },
                    "firstClickedAt": {
                      "type": "string",
                      "nullable": true,
                      "description": "First-occurrence (MIN) ISO 8601 timestamp of a clicked event in this scope; null if it never happened in scope"
                    },
                    "firstRepliedAt": {
                      "type": "string",
                      "nullable": true,
                      "description": "First-occurrence (MIN) ISO 8601 timestamp of a replied event in this scope; null if it never happened in scope (always null for postmark — no reply tracking)"
                    },
                    "firstBouncedAt": {
                      "type": "string",
                      "nullable": true,
                      "description": "First-occurrence (MIN) ISO 8601 timestamp of a bounced event in this scope; null if it never happened in scope"
                    },
                    "firstUnsubscribedAt": {
                      "type": "string",
                      "nullable": true,
                      "description": "First-occurrence (MIN) ISO 8601 timestamp of an unsubscribed event in this scope; null if it never happened in scope"
                    }
                  },
                  "required": [
                    "contacted",
                    "sent",
                    "delivered",
                    "opened",
                    "clicked",
                    "replied",
                    "replyClassification",
                    "bounced",
                    "unsubscribed",
                    "lastDeliveredAt"
                  ],
                  "description": "Aggregated status across all campaigns for the brand (brand mode only). BOOL_OR across campaigns. Null in campaign and global modes."
                },
                "campaign": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "contacted": {
                      "type": "boolean",
                      "description": "Whether at least one sending exists in this scope"
                    },
                    "sent": {
                      "type": "boolean",
                      "description": "Whether an email was sent in this scope"
                    },
                    "delivered": {
                      "type": "boolean",
                      "description": "Whether an email was delivered in this scope (sent AND not bounced)"
                    },
                    "opened": {
                      "type": "boolean",
                      "description": "Whether the recipient opened any email in this scope"
                    },
                    "clicked": {
                      "type": "boolean",
                      "description": "Whether the recipient clicked any link in this scope"
                    },
                    "replied": {
                      "type": "boolean",
                      "description": "Whether the recipient replied in this scope (always false for postmark — no reply tracking)"
                    },
                    "replyClassification": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        "positive",
                        "negative",
                        "neutral",
                        null
                      ],
                      "description": "Classification of most recent reply: positive / negative / neutral, or null if no reply (always null for postmark)"
                    },
                    "bounced": {
                      "type": "boolean",
                      "description": "Whether an email bounced in this scope"
                    },
                    "unsubscribed": {
                      "type": "boolean",
                      "description": "Whether the recipient unsubscribed in this scope"
                    },
                    "cancelled": {
                      "type": "boolean",
                      "description": "Whether the campaign was cancelled by the retry-stuck job. Optional in contract v1; required in v2 after postmark padding ships."
                    },
                    "lastDeliveredAt": {
                      "type": "string",
                      "nullable": true,
                      "description": "ISO 8601 timestamp of last delivery in this scope; null if none"
                    },
                    "firstContactedAt": {
                      "type": "string",
                      "nullable": true,
                      "description": "First-occurrence (MIN) ISO 8601 timestamp of a contacted event in this scope; null if it never happened in scope"
                    },
                    "firstSentAt": {
                      "type": "string",
                      "nullable": true,
                      "description": "First-occurrence (MIN) ISO 8601 timestamp of a sent event in this scope; null if it never happened in scope"
                    },
                    "firstDeliveredAt": {
                      "type": "string",
                      "nullable": true,
                      "description": "First-occurrence (MIN) ISO 8601 timestamp of a delivered event in this scope; null if it never happened in scope"
                    },
                    "firstOpenedAt": {
                      "type": "string",
                      "nullable": true,
                      "description": "First-occurrence (MIN) ISO 8601 timestamp of an opened event in this scope; null if it never happened in scope"
                    },
                    "firstClickedAt": {
                      "type": "string",
                      "nullable": true,
                      "description": "First-occurrence (MIN) ISO 8601 timestamp of a clicked event in this scope; null if it never happened in scope"
                    },
                    "firstRepliedAt": {
                      "type": "string",
                      "nullable": true,
                      "description": "First-occurrence (MIN) ISO 8601 timestamp of a replied event in this scope; null if it never happened in scope (always null for postmark — no reply tracking)"
                    },
                    "firstBouncedAt": {
                      "type": "string",
                      "nullable": true,
                      "description": "First-occurrence (MIN) ISO 8601 timestamp of a bounced event in this scope; null if it never happened in scope"
                    },
                    "firstUnsubscribedAt": {
                      "type": "string",
                      "nullable": true,
                      "description": "First-occurrence (MIN) ISO 8601 timestamp of an unsubscribed event in this scope; null if it never happened in scope"
                    }
                  },
                  "required": [
                    "contacted",
                    "sent",
                    "delivered",
                    "opened",
                    "clicked",
                    "replied",
                    "replyClassification",
                    "bounced",
                    "unsubscribed",
                    "lastDeliveredAt"
                  ],
                  "description": "Status scoped to the requested campaignId (campaign mode only). Null in brand and global modes."
                },
                "global": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "object",
                      "properties": {
                        "bounced": {
                          "type": "boolean",
                          "description": "True if this email bounced anywhere in the org"
                        },
                        "unsubscribed": {
                          "type": "boolean",
                          "description": "True if this email unsubscribed anywhere in the org"
                        }
                      },
                      "required": [
                        "bounced",
                        "unsubscribed"
                      ],
                      "description": "Global email signals (technical/legal)"
                    }
                  },
                  "required": [
                    "email"
                  ],
                  "description": "Org-wide email health flags. Always present in all modes."
                }
              },
              "required": [
                "email",
                "byCampaign",
                "brand",
                "campaign",
                "global"
              ]
            }
          }
        },
        "required": [
          "results"
        ]
      },
      "StatusRequest": {
        "type": "object",
        "properties": {
          "brandId": {
            "type": "string",
            "description": "Brand UUID(s), comma-separated — activates brand mode: returns byCampaign breakdown + aggregated brand scope. Ignored if campaignId is also provided.",
            "example": "b1a2c3d4-5678-90ab-cdef-111111111111"
          },
          "campaignId": {
            "type": "string",
            "description": "Campaign UUID — activates campaign mode: returns campaign-scoped status. Takes precedence over brandId.",
            "example": "c1a2b3d4-5678-90ab-cdef-222222222222"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "format": "email",
                  "description": "Recipient email address to look up",
                  "example": "alice@example.com"
                }
              },
              "required": [
                "email"
              ]
            },
            "minItems": 1,
            "description": "List of emails to check"
          }
        },
        "required": [
          "items"
        ]
      },
      "StatsResponse": {
        "type": "object",
        "properties": {
          "recipientStats": {
            "type": "object",
            "properties": {
              "contacted": {
                "type": "number",
                "description": "Leads added to a campaign / send attempted"
              },
              "sent": {
                "type": "number",
                "description": "Leads with at least 1 email sent (COUNT DISTINCT lead)"
              },
              "delivered": {
                "type": "number",
                "description": "Leads delivered (sent - bounced)"
              },
              "opened": {
                "type": "number",
                "description": "Leads who opened at least 1 email"
              },
              "bounced": {
                "type": "number",
                "description": "Leads with at least 1 bounce"
              },
              "clicked": {
                "type": "number",
                "description": "Leads who clicked at least 1 link"
              },
              "unsubscribed": {
                "type": "number",
                "description": "Leads who unsubscribed"
              },
              "notSending": {
                "type": "number",
                "description": "Leads in campaigns currently flagged with Instantly's not_sending_status diagnostic. Optional in contract v1; will be required in v2 after postmark padding ships."
              },
              "cancelled": {
                "type": "number",
                "description": "Leads whose campaign was cancelled by the retry-stuck job (delivery_status='cancelled'). Optional in contract v1; will be required in v2 after postmark padding ships."
              },
              "repliesPositive": {
                "type": "number",
                "description": "interested + meetingBooked + closed"
              },
              "repliesNegative": {
                "type": "number",
                "description": "notInterested + wrongPerson + unsubscribe"
              },
              "repliesNeutral": {
                "type": "number",
                "description": "neutral (lead_neutral events only)"
              },
              "repliesAutoReply": {
                "type": "number",
                "description": "autoReply + outOfOffice"
              },
              "repliesDetail": {
                "type": "object",
                "properties": {
                  "interested": {
                    "type": "number",
                    "description": "lead_interested events"
                  },
                  "meetingBooked": {
                    "type": "number",
                    "description": "lead_meeting_booked events"
                  },
                  "closed": {
                    "type": "number",
                    "description": "lead_closed events"
                  },
                  "notInterested": {
                    "type": "number",
                    "description": "lead_not_interested events"
                  },
                  "wrongPerson": {
                    "type": "number",
                    "description": "lead_wrong_person events"
                  },
                  "unsubscribe": {
                    "type": "number",
                    "description": "lead_unsubscribed events"
                  },
                  "neutral": {
                    "type": "number",
                    "description": "lead_neutral events"
                  },
                  "autoReply": {
                    "type": "number",
                    "description": "auto_reply_received events"
                  },
                  "outOfOffice": {
                    "type": "number",
                    "description": "lead_out_of_office events"
                  }
                },
                "required": [
                  "interested",
                  "meetingBooked",
                  "closed",
                  "notInterested",
                  "wrongPerson",
                  "unsubscribe",
                  "neutral",
                  "autoReply",
                  "outOfOffice"
                ],
                "description": "Granular reply breakdown by classification"
              }
            },
            "required": [
              "contacted",
              "sent",
              "delivered",
              "opened",
              "bounced",
              "clicked",
              "unsubscribed",
              "repliesPositive",
              "repliesNegative",
              "repliesNeutral",
              "repliesAutoReply",
              "repliesDetail"
            ]
          },
          "emailStats": {
            "type": "object",
            "properties": {
              "sent": {
                "type": "number",
                "description": "Total emails sent (COUNT *, all steps)"
              },
              "delivered": {
                "type": "number",
                "description": "Total emails delivered (sent - bounced)"
              },
              "opened": {
                "type": "number",
                "description": "Unique emails opened at least once (COUNT DISTINCT)"
              },
              "clicked": {
                "type": "number",
                "description": "Unique emails with at least 1 click (COUNT DISTINCT)"
              },
              "bounced": {
                "type": "number",
                "description": "Total emails bounced"
              },
              "unsubscribed": {
                "type": "number",
                "description": "Total unsubscribe events"
              },
              "stepStats": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "step": {
                      "type": "number",
                      "description": "Step number (1-based)"
                    },
                    "sent": {
                      "type": "number",
                      "description": "Emails sent at this step"
                    },
                    "delivered": {
                      "type": "number",
                      "description": "Delivered at this step (sent - bounced)"
                    },
                    "opened": {
                      "type": "number",
                      "description": "Emails opened at this step"
                    },
                    "clicked": {
                      "type": "number",
                      "description": "Link clicks at this step"
                    },
                    "bounced": {
                      "type": "number",
                      "description": "Emails bounced at this step"
                    },
                    "unsubscribed": {
                      "type": "number",
                      "description": "Unsubscribes at this step"
                    },
                    "repliesPositive": {
                      "type": "number",
                      "description": "interested + meetingBooked + closed"
                    },
                    "repliesNegative": {
                      "type": "number",
                      "description": "notInterested + wrongPerson + unsubscribe"
                    },
                    "repliesNeutral": {
                      "type": "number",
                      "description": "neutral (lead_neutral events only)"
                    },
                    "repliesAutoReply": {
                      "type": "number",
                      "description": "autoReply + outOfOffice"
                    },
                    "repliesDetail": {
                      "type": "object",
                      "properties": {
                        "interested": {
                          "type": "number",
                          "description": "lead_interested events"
                        },
                        "meetingBooked": {
                          "type": "number",
                          "description": "lead_meeting_booked events"
                        },
                        "closed": {
                          "type": "number",
                          "description": "lead_closed events"
                        },
                        "notInterested": {
                          "type": "number",
                          "description": "lead_not_interested events"
                        },
                        "wrongPerson": {
                          "type": "number",
                          "description": "lead_wrong_person events"
                        },
                        "unsubscribe": {
                          "type": "number",
                          "description": "lead_unsubscribed events"
                        },
                        "neutral": {
                          "type": "number",
                          "description": "lead_neutral events"
                        },
                        "autoReply": {
                          "type": "number",
                          "description": "auto_reply_received events"
                        },
                        "outOfOffice": {
                          "type": "number",
                          "description": "lead_out_of_office events"
                        }
                      },
                      "required": [
                        "interested",
                        "meetingBooked",
                        "closed",
                        "notInterested",
                        "wrongPerson",
                        "unsubscribe",
                        "neutral",
                        "autoReply",
                        "outOfOffice"
                      ],
                      "description": "Granular reply breakdown by classification"
                    }
                  },
                  "required": [
                    "step",
                    "sent",
                    "delivered",
                    "opened",
                    "clicked",
                    "bounced",
                    "unsubscribed",
                    "repliesPositive",
                    "repliesNegative",
                    "repliesNeutral",
                    "repliesAutoReply",
                    "repliesDetail"
                  ]
                },
                "description": "Per-step breakdown (instantly broadcast only; empty/omitted for postmark transactional)"
              }
            },
            "required": [
              "sent",
              "delivered",
              "opened",
              "clicked",
              "bounced",
              "unsubscribed"
            ]
          }
        },
        "required": [
          "recipientStats",
          "emailStats"
        ]
      },
      "GroupedStatsResponse": {
        "type": "object",
        "properties": {
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "recipientStats": {
                  "type": "object",
                  "properties": {
                    "contacted": {
                      "type": "number",
                      "description": "Leads added to a campaign / send attempted"
                    },
                    "sent": {
                      "type": "number",
                      "description": "Leads with at least 1 email sent (COUNT DISTINCT lead)"
                    },
                    "delivered": {
                      "type": "number",
                      "description": "Leads delivered (sent - bounced)"
                    },
                    "opened": {
                      "type": "number",
                      "description": "Leads who opened at least 1 email"
                    },
                    "bounced": {
                      "type": "number",
                      "description": "Leads with at least 1 bounce"
                    },
                    "clicked": {
                      "type": "number",
                      "description": "Leads who clicked at least 1 link"
                    },
                    "unsubscribed": {
                      "type": "number",
                      "description": "Leads who unsubscribed"
                    },
                    "notSending": {
                      "type": "number",
                      "description": "Leads in campaigns currently flagged with Instantly's not_sending_status diagnostic. Optional in contract v1; will be required in v2 after postmark padding ships."
                    },
                    "cancelled": {
                      "type": "number",
                      "description": "Leads whose campaign was cancelled by the retry-stuck job (delivery_status='cancelled'). Optional in contract v1; will be required in v2 after postmark padding ships."
                    },
                    "repliesPositive": {
                      "type": "number",
                      "description": "interested + meetingBooked + closed"
                    },
                    "repliesNegative": {
                      "type": "number",
                      "description": "notInterested + wrongPerson + unsubscribe"
                    },
                    "repliesNeutral": {
                      "type": "number",
                      "description": "neutral (lead_neutral events only)"
                    },
                    "repliesAutoReply": {
                      "type": "number",
                      "description": "autoReply + outOfOffice"
                    },
                    "repliesDetail": {
                      "type": "object",
                      "properties": {
                        "interested": {
                          "type": "number",
                          "description": "lead_interested events"
                        },
                        "meetingBooked": {
                          "type": "number",
                          "description": "lead_meeting_booked events"
                        },
                        "closed": {
                          "type": "number",
                          "description": "lead_closed events"
                        },
                        "notInterested": {
                          "type": "number",
                          "description": "lead_not_interested events"
                        },
                        "wrongPerson": {
                          "type": "number",
                          "description": "lead_wrong_person events"
                        },
                        "unsubscribe": {
                          "type": "number",
                          "description": "lead_unsubscribed events"
                        },
                        "neutral": {
                          "type": "number",
                          "description": "lead_neutral events"
                        },
                        "autoReply": {
                          "type": "number",
                          "description": "auto_reply_received events"
                        },
                        "outOfOffice": {
                          "type": "number",
                          "description": "lead_out_of_office events"
                        }
                      },
                      "required": [
                        "interested",
                        "meetingBooked",
                        "closed",
                        "notInterested",
                        "wrongPerson",
                        "unsubscribe",
                        "neutral",
                        "autoReply",
                        "outOfOffice"
                      ],
                      "description": "Granular reply breakdown by classification"
                    }
                  },
                  "required": [
                    "contacted",
                    "sent",
                    "delivered",
                    "opened",
                    "bounced",
                    "clicked",
                    "unsubscribed",
                    "repliesPositive",
                    "repliesNegative",
                    "repliesNeutral",
                    "repliesAutoReply",
                    "repliesDetail"
                  ]
                },
                "emailStats": {
                  "type": "object",
                  "properties": {
                    "sent": {
                      "type": "number",
                      "description": "Total emails sent (COUNT *, all steps)"
                    },
                    "delivered": {
                      "type": "number",
                      "description": "Total emails delivered (sent - bounced)"
                    },
                    "opened": {
                      "type": "number",
                      "description": "Unique emails opened at least once (COUNT DISTINCT)"
                    },
                    "clicked": {
                      "type": "number",
                      "description": "Unique emails with at least 1 click (COUNT DISTINCT)"
                    },
                    "bounced": {
                      "type": "number",
                      "description": "Total emails bounced"
                    },
                    "unsubscribed": {
                      "type": "number",
                      "description": "Total unsubscribe events"
                    },
                    "stepStats": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "step": {
                            "type": "number",
                            "description": "Step number (1-based)"
                          },
                          "sent": {
                            "type": "number",
                            "description": "Emails sent at this step"
                          },
                          "delivered": {
                            "type": "number",
                            "description": "Delivered at this step (sent - bounced)"
                          },
                          "opened": {
                            "type": "number",
                            "description": "Emails opened at this step"
                          },
                          "clicked": {
                            "type": "number",
                            "description": "Link clicks at this step"
                          },
                          "bounced": {
                            "type": "number",
                            "description": "Emails bounced at this step"
                          },
                          "unsubscribed": {
                            "type": "number",
                            "description": "Unsubscribes at this step"
                          },
                          "repliesPositive": {
                            "type": "number",
                            "description": "interested + meetingBooked + closed"
                          },
                          "repliesNegative": {
                            "type": "number",
                            "description": "notInterested + wrongPerson + unsubscribe"
                          },
                          "repliesNeutral": {
                            "type": "number",
                            "description": "neutral (lead_neutral events only)"
                          },
                          "repliesAutoReply": {
                            "type": "number",
                            "description": "autoReply + outOfOffice"
                          },
                          "repliesDetail": {
                            "type": "object",
                            "properties": {
                              "interested": {
                                "type": "number",
                                "description": "lead_interested events"
                              },
                              "meetingBooked": {
                                "type": "number",
                                "description": "lead_meeting_booked events"
                              },
                              "closed": {
                                "type": "number",
                                "description": "lead_closed events"
                              },
                              "notInterested": {
                                "type": "number",
                                "description": "lead_not_interested events"
                              },
                              "wrongPerson": {
                                "type": "number",
                                "description": "lead_wrong_person events"
                              },
                              "unsubscribe": {
                                "type": "number",
                                "description": "lead_unsubscribed events"
                              },
                              "neutral": {
                                "type": "number",
                                "description": "lead_neutral events"
                              },
                              "autoReply": {
                                "type": "number",
                                "description": "auto_reply_received events"
                              },
                              "outOfOffice": {
                                "type": "number",
                                "description": "lead_out_of_office events"
                              }
                            },
                            "required": [
                              "interested",
                              "meetingBooked",
                              "closed",
                              "notInterested",
                              "wrongPerson",
                              "unsubscribe",
                              "neutral",
                              "autoReply",
                              "outOfOffice"
                            ],
                            "description": "Granular reply breakdown by classification"
                          }
                        },
                        "required": [
                          "step",
                          "sent",
                          "delivered",
                          "opened",
                          "clicked",
                          "bounced",
                          "unsubscribed",
                          "repliesPositive",
                          "repliesNegative",
                          "repliesNeutral",
                          "repliesAutoReply",
                          "repliesDetail"
                        ]
                      },
                      "description": "Per-step breakdown (instantly broadcast only; empty/omitted for postmark transactional)"
                    }
                  },
                  "required": [
                    "sent",
                    "delivered",
                    "opened",
                    "clicked",
                    "bounced",
                    "unsubscribed"
                  ]
                }
              },
              "required": [
                "key",
                "recipientStats",
                "emailStats"
              ]
            }
          }
        },
        "required": [
          "groups"
        ]
      },
      "LeaderboardResponse": {
        "type": "object",
        "properties": {
          "workflows": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "workflowSlug": {
                  "type": "string"
                },
                "emailsContacted": {
                  "type": "number"
                },
                "emailsSent": {
                  "type": "number"
                },
                "emailsDelivered": {
                  "type": "number"
                },
                "emailsOpened": {
                  "type": "number"
                },
                "emailsClicked": {
                  "type": "number"
                },
                "emailsBounced": {
                  "type": "number"
                },
                "openRate": {
                  "type": "number",
                  "description": "Opens / sent (0-1)"
                },
                "clickRate": {
                  "type": "number",
                  "description": "Clicks / sent (0-1)"
                },
                "bounceRate": {
                  "type": "number",
                  "description": "Bounces / sent (0-1)"
                },
                "deliveryRate": {
                  "type": "number",
                  "description": "Deliveries / sent (0-1)"
                }
              },
              "required": [
                "workflowSlug",
                "emailsContacted",
                "emailsSent",
                "emailsDelivered",
                "emailsOpened",
                "emailsClicked",
                "emailsBounced",
                "openRate",
                "clickRate",
                "bounceRate",
                "deliveryRate"
              ]
            }
          }
        },
        "required": [
          "workflows"
        ]
      },
      "TransferBrandResponse": {
        "type": "object",
        "properties": {
          "updatedTables": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "tableName": {
                  "type": "string"
                },
                "count": {
                  "type": "number"
                }
              },
              "required": [
                "tableName",
                "count"
              ]
            }
          }
        },
        "required": [
          "updatedTables"
        ]
      },
      "TransferBrandRequest": {
        "type": "object",
        "properties": {
          "sourceBrandId": {
            "type": "string",
            "description": "Brand UUID to transfer from the source org"
          },
          "sourceOrgId": {
            "type": "string",
            "description": "Current org UUID that owns the brand"
          },
          "targetOrgId": {
            "type": "string",
            "description": "Target org UUID to transfer the brand to"
          },
          "targetBrandId": {
            "type": "string",
            "description": "Brand UUID in the target org to rewrite to (when target org already has a brand for the same domain)"
          }
        },
        "required": [
          "sourceBrandId",
          "sourceOrgId",
          "targetOrgId"
        ]
      },
      "WebhookUrlResponse": {
        "type": "object",
        "properties": {
          "webhookUrl": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "instructions": {
            "type": "string"
          }
        },
        "required": [
          "webhookUrl",
          "events",
          "instructions"
        ]
      },
      "WebhookResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "recordType": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "recordType"
        ]
      },
      "WebhookErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "details": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/": {
      "get": {
        "summary": "Service info",
        "description": "Returns service name",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "Service info string",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health check",
        "description": "Returns service health status",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "Health status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/send": {
      "post": {
        "summary": "Send a single email",
        "description": "Send an email via Postmark and record it in the database. Runs-service integration is BLOCKING.",
        "tags": [
          "Email Sending"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID (injected by workflow-service)"
            },
            "required": false,
            "description": "Campaign ID (injected by workflow-service)",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID(s), comma-separated for multi-brand campaigns (injected by workflow-service). Example: uuid1,uuid2,uuid3"
            },
            "required": false,
            "description": "Brand ID(s), comma-separated for multi-brand campaigns (injected by workflow-service). Example: uuid1,uuid2,uuid3",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Feature slug (injected by workflow-service)"
            },
            "required": false,
            "description": "Feature slug (injected by workflow-service)",
            "name": "x-feature-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug (injected by workflow-service)"
            },
            "required": false,
            "description": "Workflow slug (injected by workflow-service)",
            "name": "x-workflow-slug",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendEmailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits (platform key only)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsufficientCreditsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/send/batch": {
      "post": {
        "summary": "Send batch emails",
        "description": "Send up to 500 emails in one request. Runs-service integration is BLOCKING for each email.",
        "tags": [
          "Email Sending"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID (injected by workflow-service)"
            },
            "required": false,
            "description": "Campaign ID (injected by workflow-service)",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID(s), comma-separated for multi-brand campaigns (injected by workflow-service). Example: uuid1,uuid2,uuid3"
            },
            "required": false,
            "description": "Brand ID(s), comma-separated for multi-brand campaigns (injected by workflow-service). Example: uuid1,uuid2,uuid3",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Feature slug (injected by workflow-service)"
            },
            "required": false,
            "description": "Feature slug (injected by workflow-service)",
            "name": "x-feature-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug (injected by workflow-service)"
            },
            "required": false,
            "description": "Workflow slug (injected by workflow-service)",
            "name": "x-workflow-slug",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchSendRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchSendResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits (platform key only)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsufficientCreditsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/status/{messageId}": {
      "get": {
        "summary": "Get email status",
        "description": "Get the full delivery status of an email by its Postmark message ID",
        "tags": [
          "Email Status"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Postmark message ID"
            },
            "required": true,
            "description": "Postmark message ID",
            "name": "messageId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Email status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailStatus"
                }
              }
            }
          },
          "404": {
            "description": "Message not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/status/by-org/{orgId}": {
      "get": {
        "summary": "Get emails by organization",
        "description": "Get recent emails for an organization",
        "tags": [
          "Email Status"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Organization ID"
            },
            "required": true,
            "description": "Organization ID",
            "name": "orgId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Max results to return. Omit to return all."
            },
            "required": false,
            "description": "Max results to return. Omit to return all.",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization emails",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgEmailsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/status/by-run/{runId}": {
      "get": {
        "summary": "Get emails by run",
        "description": "Get all emails for a specific run",
        "tags": [
          "Email Status"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Run ID"
            },
            "required": true,
            "description": "Run ID",
            "name": "runId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Run emails",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunEmailsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/status": {
      "post": {
        "summary": "Batch status lookup by email",
        "description": "Check delivery status for a batch of email addresses. The response shape depends on the body filters:\n\n| brandId | campaignId | Mode     | Active fields                  |\n|---------|------------|----------|--------------------------------|\n| absent  | absent     | Global   | global                         |\n| present | absent     | Brand    | byCampaign + brand + global    |\n| absent  | present    | Campaign | campaign + global              |\n| present | present    | Campaign | campaign + global (brandId ignored) |\n\nNon-applicable fields are null. Headers (x-brand-id, x-campaign-id, etc.) are for tracing/logging only — they do NOT drive filtering logic. Filters are in the request body.\n\nAggregation rules:\n- byCampaign[id].*: exact status for that campaign\n- brand.*: BOOL_OR across all campaigns of the brand (true if true in any campaign)\n- brand.lastDeliveredAt: MAX across all campaigns\n- global.email.bounced/unsubscribed: aggregated across all campaigns in the org (no brand/campaign filter)",
        "tags": [
          "Email Status"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-item status results. Shape depends on mode — see description.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/stats": {
      "get": {
        "summary": "Get aggregated stats",
        "description": "Get aggregated email stats optionally filtered by runIds, orgId, brandId, campaignId, workflowSlugs, and/or featureSlugs. When groupBy is provided, returns grouped results. Requires x-org-id header.",
        "tags": [
          "Email Status"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Comma-separated run IDs"
            },
            "required": false,
            "description": "Comma-separated run IDs",
            "name": "runIds",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by organization ID"
            },
            "required": false,
            "description": "Filter by organization ID",
            "name": "orgId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by brand ID (comma-separated for multiple)"
            },
            "required": false,
            "description": "Filter by brand ID (comma-separated for multiple)",
            "name": "brandId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by campaign ID"
            },
            "required": false,
            "description": "Filter by campaign ID",
            "name": "campaignId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by workflow slugs (comma-separated)"
            },
            "required": false,
            "description": "Filter by workflow slugs (comma-separated)",
            "name": "workflowSlugs",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by feature slugs (comma-separated)"
            },
            "required": false,
            "description": "Filter by feature slugs (comma-separated)",
            "name": "featureSlugs",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "brandId",
                "campaignId",
                "workflowSlug",
                "featureSlug",
                "recipientEmail"
              ],
              "description": "Group results by dimension"
            },
            "required": false,
            "description": "Group results by dimension",
            "name": "groupBy",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregated stats (flat or grouped depending on groupBy parameter)",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/StatsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/GroupedStatsResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/stats": {
      "get": {
        "summary": "Get aggregated stats (service auth only)",
        "description": "Same as GET /orgs/stats but only requires X-API-Key (no identity headers). Used by email-gateway for transactional stats aggregation.",
        "tags": [
          "Email Status"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Comma-separated run IDs"
            },
            "required": false,
            "description": "Comma-separated run IDs",
            "name": "runIds",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by organization ID"
            },
            "required": false,
            "description": "Filter by organization ID",
            "name": "orgId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by brand ID (comma-separated for multiple)"
            },
            "required": false,
            "description": "Filter by brand ID (comma-separated for multiple)",
            "name": "brandId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by campaign ID"
            },
            "required": false,
            "description": "Filter by campaign ID",
            "name": "campaignId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by workflow slugs (comma-separated)"
            },
            "required": false,
            "description": "Filter by workflow slugs (comma-separated)",
            "name": "workflowSlugs",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by feature slugs (comma-separated)"
            },
            "required": false,
            "description": "Filter by feature slugs (comma-separated)",
            "name": "featureSlugs",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "brandId",
                "campaignId",
                "workflowSlug",
                "featureSlug",
                "recipientEmail"
              ],
              "description": "Group results by dimension"
            },
            "required": false,
            "description": "Group results by dimension",
            "name": "groupBy",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregated stats (flat or grouped depending on groupBy parameter)",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/StatsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/GroupedStatsResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/performance/leaderboard": {
      "get": {
        "summary": "Workflow performance leaderboard",
        "description": "Returns global workflow performance stats. API key only, no identity headers required.",
        "tags": [
          "Performance"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow leaderboard",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/transfer-brand": {
      "post": {
        "summary": "Transfer brand between orgs",
        "description": "Re-assigns solo-brand postmark_sendings rows from sourceOrgId to targetOrgId. Skips co-branding rows (multiple brand IDs). Idempotent.",
        "tags": [
          "Email Status"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferBrandRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer results per table",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferBrandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/postmark/url": {
      "get": {
        "summary": "Get webhook URL",
        "description": "Returns the webhook URL that BYOK users should configure in their Postmark dashboard, along with the list of event types to enable.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Webhook configuration details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookUrlResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/postmark": {
      "post": {
        "summary": "Postmark webhook handler",
        "description": "Public Postmark webhook endpoint. Persists Delivery, Bounce, Open, Click, SpamComplaint, SubscriptionChange events to local storage. RecordType=Inbound is forwarded byte-for-byte to email-gateway at ${EMAIL_GATEWAY_SERVICE_URL}/inbound/postmark with x-api-key auth; non-2xx or network errors return 502 so Postmark's own retry kicks in (no outbox, no queue).",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Webhook processed (or Inbound forwarded successfully)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing RecordType",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Inbound forward to email-gateway failed (non-2xx response or network error). Postmark will retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}